$default-blue: blue;
$font-stack: Arial, sans-serif;
body {
	background-color: $default-blue;
	color: white;
	font-family: $font-stack;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		display: block;
		padding: 6px 12px;
		text-decoration: none;
		color: white;
		&:hover {
			color: red;
		}
	}
}

