
$default-blue: blue;
$font-stack: Arial, sans-serif;

@mixin black($opac){
	background-color: rgba(0,0,0,$opac);
}
body {
	background-color: $default-blue;
	color: white;
	font-family: $font-stack;
}
h1{
	@include black(0.6);
}

@import 'navbar'

